<br><h1 align="center"> Signup for Guavapp</h1>
<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
<div class="field">
  <div class="col-xs-10">
    <div class="form-group">
      <div class="control-label col-sm-2">
            <%= form.label :username %>
      </div>
      <div class="col-sm-12">
        <%= form.text_field :username, class: "form-control", placeholder: "Enter username", autofocus: true %>
      </div>    
    </div>    
  </div>
</div>

<div class="field">
  <div class="col-xs-10">
    <div class="form-group">
      <div class="control-label col-sm-2">  
          <%= form.label :email %>
      </div>
      <div class="col-sm-12">
        <%= form.email_field :email,class: "form-control", placeholder: "Enter email", autofocus: true %>
      </div>
    </div>
  </div>    
</div>


<div class="field">
  <div class="col-xs-10">
    <div class="form-group">
      <div class="control-label col-sm-2">  
          <%= form.label :password %>
      </div>
      <div class="col-sm-12">
        <%= form.password_field :password,class: "form-control", placeholder: "Enter password", autofocus: true %>
      </div>
    </div>
  </div>    
</div>

<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= form.submit "Sign up",class: 'btn btn-primary brn-lg' %>
        </div>
<% end %>
  <div class="col-xs-4 col-xs-offset-4", align="center"> 
     <%= link_to "Cancel and return to users list", articles_path %>
  </div>
<div/>